# database configuration
#local
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#remote cockroachdb
DATABASE_URL=

# mailer configuration
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_API_KEY=
SENDER_EMAIL=

# server configuration
PORT=
